@import '../App.scss';

#evolution-container {
    background-color: $secondary-color;
    border-radius: 15px;
    display: grid;
    grid-template-rows: 36px 292px;
    grid-column: 1 / 6;
    grid-row: 6 / 9;

    div {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        grid-row: 1 / 2;
        
        h2 {
            color: #ffffff;
            font-family: $font-stack;
            font-weight: 400px;
            margin: 0;
            text-align: center;
        }
    }

    #unevolved {
        align-items: center;
        display: grid;
        justify-content: center;
        grid-row: 2 / 3;

        .pokemon-mini-card {
            color: #ffffff;
            border-radius: 10px;
            display: grid;
            height: 180px;
            grid-template-columns: 1fr;
            grid-template-rows: 103px repeat(3, 1fr);
            width: 140px;

            .pokemon-image {
                display: grid;
                grid-row: 1 / 2;
                justify-items: center;
                position: relative;
    
                .front-image {
                    position: absolute;
                    width: 100px;
                    z-index: 1;
                }
    
                .back-image {
                    position: absolute;
                    width: 103px;
                    z-index: 0;
                }
            }

            .stage {
                grid-row: 2 / 3;
                text-align: center;

                p {
                    font-size: 15px;
                    margin: 0;
                }
            }

            .pokemon-name {
                grid-row: 3 / 4;
                text-align: center;

                p {
                    font-size: 15px;
                    font-weight: bold;
                    margin: 0;
                }
            }

            .types {
                grid-row: 4 / 5;
                text-align: center;

                span {
                    font-size: 13px;
                    padding: 0 3px 0 3px;
                    margin: 0 2px 0 2px;
                }
            }
        }
    }
}