@import '../App.scss';

#Container-Main {
    display: grid;
    font-family: $font-stack;
    gap: 20px;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 96px);
    height: 1024px;
    width: 1440px;

    #Container-General {
        display: grid;
        gap: 20px;
        grid-column: 1 / 10;
        grid-row: 2 / 10;
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: repeat(8, 96px);
    }
}