@import '../App.scss';

#container-general{
    display: grid;
    font-family: $font-stack;
    gap: 20px;
    grid-column: 1 / 10;
    grid-row: 2 / 10;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(8, 96px);
    padding: 0 5px 0 5px;
    
    #pokeball-loading-animation{
        animation: pokeball-animation 1s linear 0s infinite;
        margin-left: 5px;
        width: 100px;
    }
}

@keyframes pokeball-animation {
    from {
        transform: rotate(0deg);
    }
    
    to {
        transform: rotate(360deg);
    }
}